@font-face {
  font-family: "Minecraft Ten";
  src: url("./assets/MinecraftTen-VGORe.ttf") format("truetype");
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Main Container */
.main-container {
  background-color: #111111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

/* Title */
h1 {
  font-family: "Minecraft Ten", sans-serif;
  font-size: 32px;
  text-align: center;
  margin-top: 0;
  color: #e1e1e1;
  text-shadow: 6px 6px 5px rgba(255, 0, 0, 0.5);
}

/* Preview Image */
.preview-image {
  max-width: 800px;
  margin: 20px auto;
  border: 6px solid #3c8527;
}

/* Links Container */
.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Link Button */
.link-button, .link-button-destructive, .link-button-realm {
  background-color: #3c8527;
  color: #ffffff;
  margin: 10px 0;
  padding: 10px 20px;
  border: 4px solid hsla(0, 100%, 98%, 0.4);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Link Button Hover Effect */
.link-button:hover, .link-button-destructive:hover, .link-button-realm:hover {
  background-color: #2a641c;
  transform: translateY(3px);
}

.link-button-destructive {
  background-color: #ca3636;
}

.link-button-destructive:hover {
  background-color: #ad1d1d;
}

.link-button-realm {
  background-color: #7345e5;
}

.link-button-realm:hover {
  background-color: #4a1cac;
}

/* Responsive Media Queries */
@media (max-width: 576px) {
  .main-container {
    margin: 10px;
  }

  .preview-image {
    max-width: 100%;
  }

  .links-container {
    width: 100%;
  }
}

/* Dialogs */
.dialog-content {
  
}

.dark-dialog-background {
  background-color: #262626;
  border-top: 2px solid #383838;
  border-left: 2px solid #383838;
  border-bottom: 2px solid #383838;
  border-right: 2px solid #383838;
}

.dark-dialog-background-left {
  background-color: #262626;
  border-top: 2px solid #383838;
  border-left: 2px solid #383838;
  border-bottom: 2px solid #383838;
}

.dark-dialog-background-right {
  background-color: #262626;
  border-top: 2px solid #383838;
  border-bottom: 2px solid #383838;
  border-right: 2px solid #383838;
}

.dark-dialog-background-top {
  background-color: #262626;
  border-top: 2px solid #383838;
  border-left: 2px solid #383838;
  border-right: 2px solid #383838;
}

.dark-dialog-background-bottom {
  background-color: #262626;
  border-bottom: 2px solid #383838;
  border-left: 2px solid #383838;
  border-right: 2px solid #383838;
}

/* Buttons */

.button-border {
  display: inline-block;
  border: 2px solid #000000;
}
.button-border:hover:not(:disabled) {
  border: 2px solid #ffffff;
}
.button-border:active:not(:disabled) {
  margin-bottom: 4px;
  transform: translateY(4px);
  border: 2px solid #ffffff;
}


/* Light */
.mc-neutral-button {
  padding-block: 10px;
  padding-inline: auto;
  margin-bottom: 4px;
  box-shadow: 0px 4px 0px #242425;
  
  border-top-color: rgba(255,255,255,0.2);
  border-left-color: rgba(255,255,255,0.2);
  border-bottom-color: rgba(255,255,255,0.1);
  border-right-color: rgba(255,255,255,0.1);
  background-color: #313233;
  color: #ffffff;
}

.button-border:hover:not(:disabled) .mc-neutral-button {
  border-top-color: rgba(255,255,255,0.1);
  border-left-color: rgba(255,255,255,0.1);
  border-bottom-color: rgba(0,0,0,0.4);
  border-right-color: rgba(0,0,0,0.4);
  background-color: #48494a;
}

.button-border:active:not(:disabled) .mc-neutral-button {
  margin-bottom: 0;
  box-shadow: none;
  border-top-color: rgba(0,0,0,0.8);
  border-left-color: rgba(0,0,0,0.8);
  border-bottom-color: rgba(255,255,255,0.1);
  border-right-color: rgba(255,255,255,0.1);
  background-color: #242425;
  color: #ffffff;
}

/* Primary */
.mc-primary-button {
  padding-block: 10px;
  padding-inline: auto;
  margin-bottom: 4px;
  box-shadow: 0px 4px 0px #1d4d13;
  
  border-top-color: rgba(255,255,255,0.2);
  border-left-color: rgba(255,255,255,0.2);
  border-bottom-color: rgba(255,255,255,0.1);
  border-right-color: rgba(255,255,255,0.1);
  background-color: #3c8527;
  color: #ffffff;
}

.button-border:hover:not(:disabled) .mc-primary-button {
  border-top-color: rgba(255,255,255,0.4);
  border-left-color: rgba(255,255,255,0.4);
  border-bottom-color: rgba(255,255,255,0.3);
  border-right-color: rgba(255,255,255,0.3);
  background-color: #2a641c;
}

.button-border:active:not(:disabled) .mc-primary-button {
  margin-bottom: 0;
  box-shadow: none;
  border-top-color: rgba(0,0,0,0.4);
  border-left-color: rgba(0,0,0,0.4);
  border-bottom-color: rgba(255,255,255,0.1);
  border-right-color: rgba(255,255,255,0.1);
  background-color: #1d4d13;
  color: #ffffff;
}

/* Secondary */
.mc-secondary-button {
  padding-block: 10px;
  padding-inline: auto;
  margin-bottom: 4px;
  box-shadow: 0px 4px 0px #8c8d90;
  
  border-top-color: rgba(255,255,255,0.6);
  border-left-color: rgba(255,255,255,0.6);
  border-bottom-color: rgba(255,255,255,0.4);
  border-right-color: rgba(255,255,255,0.4);
  background-color: #d0d1d4;
  color: #48494a;
}

.button-border:hover:not(:disabled) .mc-secondary-button {
  border-top-color: rgba(255,255,255,0.8);
  border-left-color: rgba(255,255,255,0.8);
  border-bottom-color: rgba(255,255,255,0.6);
  border-right-color: rgba(255,255,255,0.6);
  background-color: #b1b2b5;
}

.button-border:active:not(:disabled) .mc-secondary-button {
  margin-bottom: 0;
  box-shadow: none;
  border-top-color: rgba(255,255,255,0.8);
  border-left-color: rgba(255,255,255,0.8);
  border-bottom-color: rgba(255,255,255,0.6);
  border-right-color: rgba(255,255,255,0.6);
  background-color: #8c8d90;
  color: #ffffff;
}

/* Destructive */
.mc-destructive-button {
  padding-block: 10px;
  padding-inline: auto;
  margin-bottom: 4px;
  box-shadow: 0px 4px 0px #ad1d1d;
  
  border-top-color: rgba(255,255,255,0.2);
  border-left-color: rgba(255,255,255,0.2);
  border-bottom-color: rgba(255,255,255,0.1);
  border-right-color: rgba(255,255,255,0.1);
  background-color: #ca3636;
  color: #fff;
}

.button-border:hover:not(:disabled) .mc-destructive-button {
  border-top-color: rgba(255,255,255,0.5);
  border-left-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.4);
  border-right-color: rgba(255,255,255,0.4);
  background-color: #c02d2d;
}

.button-border:active:not(:disabled) .mc-destructive-button {
  margin-bottom: 0;
  box-shadow: none;
  border-top-color: rgba(5,0,41,0.4);
  border-left-color: rgba(5,0,41,0.4);
  border-bottom-color: rgba(202,54,54,0.5);
  border-right-color: rgba(202,54,54,0.5);
  background-color: #ad1d1d;
  color: #fff;
}

/* Informative */
.mc-informative-button {
  padding-block: 10px;
  padding-inline: auto;
  margin-bottom: 4px;
  box-shadow: 0px 4px 0px #1d4f91;
  
  border-top-color: rgba(255,255,255,0.2);
  border-left-color: rgba(255,255,255,0.2);
  border-bottom-color: rgba(255,255,255,0.1);
  border-right-color: rgba(255,255,255,0.1);
  background-color: #2e6be5;
  color: #fff;
}

.button-border:hover:not(:disabled) .mc-informative-button {
  border-top-color: rgba(255,255,255,0.3);
  border-left-color: rgba(255,255,255,0.3);
  border-bottom-color: rgba(255,255,255,0.2);
  border-right-color: rgba(255,255,255,0.2);
  background-color: #255ec1;
}

.button-border:active:not(:disabled) .mc-informative-button {
  margin-bottom: 0;
  box-shadow: none;
  border-top-color: rgba(5,0,41,0.2);
  border-left-color: rgba(5,0,41,0.2);
  border-bottom-color: rgba(255,255,255,0.3);
  border-right-color: rgba(255,255,255,0.3);
  background-color: #1d4f91;
  color: #fff;
}

/* Realms */
.mc-realms-button {
  padding-block: 10px;
  padding-inline: auto;
  margin-bottom: 4px;
  box-shadow: 0px 4px 0px #4A1CAC;

  border-top-color: rgba(208,131,255,0.5);
  border-left-color: rgba(208,131,255,0.5);
  border-bottom-color: rgba(182,81,245,0.4);
  border-right-color: rgba(182,81,245,0.4);
  background-color: #7345E5;
  color: #fff;
}


.button-border:hover:not(:disabled) .mc-realms-button {
  border-top-color: rgba(208,131,255,0.7);
  border-left-color: rgba(208,131,255,0.7);
  border-bottom-color: rgba(182,81,245,0.6);
  border-right-color: rgba(182,81,245,0.6);
  background-color: #5D2CC6;
}

.button-border:active:not(:disabled) .mc-realms-button {
  margin-bottom: 0;
  box-shadow: none;
  border-top-color: rgba(5,0,41,0.4);
  border-left-color: rgba(5,0,41,0.4);
  border-bottom-color: rgba(208,131,255,0.5);
  border-right-color: rgba(208,131,255,0.5);
  background-color: #4A1CAC;
  color: #fff;
}
